@import "./../../../config/index";

$size: 10 * $project-font-size;

.container {
  @extend %flex-center;
  box-sizing: content-box;
  position: relative;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 0.7 * $project-font-size solid silver;
  overflow: hidden;
  margin: auto;
}

.initials {
  color: white;
  font-size: 5 * $project-font-size;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.image {
  position: absolute;
  width: $size;
  height: $size;
  min-height: $size;
  min-width: $size;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: top;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.male {
  border-color: #87cefa;
}

.female {
  border-color: pink;
}

