@import "./../../config/index";

.container {
  position: relative;
  width: 300px;
  transition: 0.5s;
  margin: $project-font-size 0.5 * $project-font-size;
  border-radius: 0.5 * $project-font-size;
  object-fit: cover;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  padding: 2.5 * $project-font-size 1.5 * $project-font-size;
  border-radius: 0.5 * $project-font-size;
  box-shadow: inset 0 0 6 * $project-font-size 12 * $project-font-size rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.5 * $project-font-size rgba(0, 0, 0, 0.5);
}

.bg-default {
  background-color: #ffefac;
}

.bg-summer {
  background-image: url("backgrounds/summer.webp"),
  linear-gradient(to right top, #def023, #e8f353, #f1f675, #f9f993, #fffcb1);;
}

.bg-autumn {
  background-image: url("backgrounds/autumn.webp"),
  linear-gradient(to right top, #ffbe29, #ffc553, #ffcd74, #ffd593, #ffddb1);;
}

.bg-winter {
  background-image: url("backgrounds/winter.webp"),
  linear-gradient(to right top, #297eff, #41a2ff, #75c2ff, #afdfff, #edf9ff);
}

.bg-spring {
  background-image: url("backgrounds/spring.webp"),
  linear-gradient(to right top, #20b711, #5dca4d, #87dc79, #adeea3, #d3ffcd);;
}